In [1]:
import pickle
import pandas as pd

df_raw2 = pd.read_pickle('sah_raw_data_batch2.pkl')
df_raw1 = pd.read_pickle('sah_raw_data.pkl')
df_raw = pd.concat([df_raw1,df_raw2])
df_raw

,tweet_id,tweet_created_at,text,tweet_url,retweet,quote,mentions,hashtags,this_tweet_source,user_id,...,quote_user_screen_name,quote_user_description,quote_user_location,quote_user_verified,quote_user_followers_count,quote_user_friends_count,quote_user_listed_count,quote_user_favourites_count,quote_user_statuses_count,quote_user_profile_image_url_https
0,1372666939638681603,Thu Mar 18 21:51:15 +0000 2021,@trabreee Given the conservative nature and ti...,None,False,False,[573681712],[None],"<a href=""https://mobile.twitter.com"" rel=""nofo...",371535654,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None
1,1372666939898699778,Thu Mar 18 21:51:16 +0000 2021,Square Enix presenting two new games where the...,None,True,False,[2478263302],[None],"<a href=""http://twitter.com/download/iphone"" r...",2925265201,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None
2,1372666940511031296,Thu Mar 18 21:51:16 +0000 2021,"Sadly, during the COVID-19 pandemic, the numbe...",None,True,False,[15868178],[None],"<a href=""http://twitter.com/download/iphone"" r...",260284794,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None
3,1372666941282869255,Thu Mar 18 21:51:16 +0000 2021,you shouldnt feel obligated to share resources...,None,True,False,[1299106024163627019],[None],"<a href=""http://twitter.com/download/android"" ...",1348409465385725954,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None
4,1372666941182197767,Thu Mar 18 21:51:16 +0000 2021,"""what can i do to help #StopAsianHate?"" a thre...",None,True,False,[1134639749438722048],[StopAsianHate],"<a href=""http://twitter.com/download/iphone"" r...",854830153058439169,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083127,1377202146848874496,Wed Mar 31 10:12:33 +0000 2021,A powerful message against hatred and racism. ...,None,True,True,"[4899304912, 20646711]",[None],"<a href=""http://twitter.com/download/android"" ...",1131096634748620801,...,BTS_twt,Hi ! We are BTS !,None,True,34066434.0,144.0,89825.0,223.0,12561.0,https://pbs.twimg.com/profile_images/131820618...
2083128,1377202147595481091,Wed Mar 31 10:12:33 +0000 2021,Very few people have more influence around the...,None,True,True,"[148945945, 335141638]",[BTSARMY],"<a href=""http://twitter.com/download/android"" ...",43087108,...,BTS_twt,Hi ! We are BTS !,None,True,34066435.0,144.0,89825.0,223.0,12561.0,https://pbs.twimg.com/profile_images/131820618...
2083129,1377202148107116546,Wed Mar 31 10:12:33 +0000 2021,tw//transphobia and abuse\n\nthis has been dea...,https://www.gofundme.com/f/lidias-safety-fund,True,False,[1357658129828249603],[None],"<a href=""http://twitter.com/download/iphone"" r...",4778575975,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None
2083130,1377202148677672961,Wed Mar 31 10:12:34 +0000 2021,“I think it's important for us to have these c...,https://trib.al/DNYqHTq,True,False,"[252751061, 390274454]",[None],"<a href=""http://twitter.com/download/iphone"" r...",1262365570940448770,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None
2083131,1377202151022190593,Wed Mar 31 10:12:34 +0000 2021,And this is why you all are so loved @BTS_twt....,None,True,True,"[53153263, 335141638]","[StopAsianHate, StopAAPIHate]","<a href=""http://twitter.com/download/iphone"" r...",1028787995724238848,...,BTS_twt,Hi ! We are BTS !,None,True,34066434.0,144.0,89825.0,223.0,12561.0,https://pbs.twimg.com/profile_images/131820618...

In [2]:
df1 = pd.read_pickle('ethnic_batch_1.pkl')
df2 = pd.read_pickle('ethnic_batch_2.pkl')
df_ethnic = pd.concat([df1,df2])
df_ethnic

                    tweet_id ethnic_inferred
0        1372666939638681603
1        1372666939898699778
2        1372666940511031296           asian
3        1372666941282869255           asian
4        1372666941182197767           white
...                      ...             ...
2083127  1377202146848874496
2083128  1377202147595481091        hispanic
2083129  1377202148107116546
2083130  1377202148677672961
2083131  1377202151022190593

[4992796 rows x 2 columns]

In [3]:
df=df_raw[['tweet_id','text']]
df

,tweet_id,text
0,1372666939638681603,@trabreee Given the conservative nature and ti...
1,1372666939898699778,Square Enix presenting two new games where the...
2,1372666940511031296,"Sadly, during the COVID-19 pandemic, the numbe..."
3,1372666941282869255,you shouldnt feel obligated to share resources...
4,1372666941182197767,"""what can i do to help #StopAsianHate?"" a thre..."
...,...,...
2083127,1377202146848874496,A powerful message against hatred and racism. ...
2083128,1377202147595481091,Very few people have more influence around the...
2083129,1377202148107116546,tw//transphobia and abuse\n\nthis has been dea...
2083130,1377202148677672961,“I think it's important for us to have these c...
2083131,1377202151022190593,And this is why you all are so loved @BTS_twt....

In [4]:
new_df = pd.merge(df, df_ethnic ,  how='left', on=['tweet_id'])
new_df

,tweet_id,text,ethnic_inferred
0,1372666939638681603,@trabreee Given the conservative nature and ti...,
1,1372666939898699778,Square Enix presenting two new games where the...,
2,1372666940511031296,"Sadly, during the COVID-19 pandemic, the numbe...",asian
3,1372666941282869255,you shouldnt feel obligated to share resources...,asian
4,1372666941182197767,"""what can i do to help #StopAsianHate?"" a thre...",white
...,...,...,...
4992791,1377202146848874496,A powerful message against hatred and racism. ...,
4992792,1377202147595481091,Very few people have more influence around the...,hispanic
4992793,1377202148107116546,tw//transphobia and abuse\n\nthis has been dea...,
4992794,1377202148677672961,“I think it's important for us to have these c...,
4992795,1377202151022190593,And this is why you all are so loved @BTS_twt....,

In [5]:
new_df['ethnic_inferred'].value_counts()

                                    2591318
white                               1333214
asian                                751164
black                                185570
hispanic                             116288
American Indian or Alaska Native       7699
jewish                                 6369
mixed                                  1174
Name: ethnic_inferred, dtype: int64

In [6]:
df_freq = pd.read_csv('retweeted_tweet_at_least_20.csv')
df_freq =df_freq [['text']]
df_freq

                                                  text
0    Lee Wong, an elected official in West Chester,...
1    2012: mass shooting at a Sikh temple\n2014: ma...
2    Are you sad and angry about the surge in anti-...
3    The Asian women who were murdered in Atlanta h...
4    Today it's a tragedy in Boulder, Colorado. Thi...
..                                                 ...
792       Stop Asian Hate...\n\nAGAINST  BLACK PEOPLE!
793  I hated the shame I felt every new school year...
794  The hypersexualization of Asian women plays a ...
795  Vice Pres. Kamala Harris speaking in Atlanta o...
796  Teen Vogue just got rid of their Black female ...

[797 rows x 1 columns]

In [7]:
merge_df  = pd.merge(df_freq, new_df,  how='left', on=['text'], sort=False)
merge_df

,text,tweet_id,ethnic_inferred
0,"Lee Wong, an elected official in West Chester,...",1375557530399739906,white
1,"Lee Wong, an elected official in West Chester,...",1375557644455444480,white
2,"Lee Wong, an elected official in West Chester,...",1375557841315057666,white
3,"Lee Wong, an elected official in West Chester,...",1375557877801353222,asian
4,"Lee Wong, an elected official in West Chester,...",1375557890220625921,white
...,...,...,...
1606212,Teen Vogue just got rid of their Black female ...,1373889014399344640,black
1606213,Teen Vogue just got rid of their Black female ...,1373981350789799938,white
1606214,Teen Vogue just got rid of their Black female ...,1374048897069424641,
1606215,Teen Vogue just got rid of their Black female ...,1374193059370569729,
1606216,Teen Vogue just got rid of their Black female ...,1375132946651303937,black

In [8]:
gb = merge_df.groupby(['text','ethnic_inferred'],sort=False).count()
gb

                                                                    tweet_id
text                                               ethnic_inferred
Lee Wong, an elected official in West Chester, ... white               20995
                                                   asian                5323
                                                                       24927
                                                   black                1920
                                                   hispanic             2065
...                                                                      ...
Vice Pres. Kamala Harris speaking in Atlanta on... black                  14
Teen Vogue just got rid of their Black female e...                       145
                                                   black                  17
                                                   asian                  12
                                                   white                  65

[5209 rows x 1 columns]

In [9]:
gb.to_csv('retweeted_tweet_at_least_20_race.csv')
gb.to_excel('retweeted_tweet_at_least_20_race.xlsx')